.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.px-lg {
  padding-inline: var(--px-lg);
}

.container {
  --max-width: 375px;

  /* o container precisa subtrair o padding lateral que os elementos possuem */
  /* --px-lg = 1.5rem ou 32px | * 2 é pq tem padding na direita e esquerda  */
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
  /* border: solid violet; */
}

.desktop-only {
  display: none;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

/* A \ serve como um escape que permite usar o ponto no css, do contrário ele buscaria a classe de nome 5 ao invés de considerar que o nome da classe é gap-1.5 */
.gap-1\.5 {
  gap: 1.5rem;
}

.grid {
  display: grid;
}

/* Na tela grande fica assim */
@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}